- #### Acciones
    - ##### count
    - ##### collect
    - ##### show
    - ##### isEmpty
    - ##### head
    - ##### first
    - ##### take
    - ##### tail
- #### Transformaciones
    - ##### withColumn
    - ##### withColumnRenamed
    - ##### drop

In [1]:
import org.apache.spark.sql.{SparkSession, DataFrame}

val spark = SparkSession.builder
        .appName("sesion_1")
        .master("local[*]")
        .getOrCreate()
val sc = spark.sparkContext

sc = org.apache.spark.SparkContext@125bd5fc

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@17990ebf

org.apache.spark.SparkContext@125bd5fc

In [2]:
sc.uiWebUrl

Some(http://23LAP5CD20860NP.indra.es:4041)

In [3]:
def readCsv(path: String): DataFrame = {
    spark.read
        .option("header","true")
        .option("delimiter",",")
        .option("inferSchema","false")
        .csv(path)
    }

val BasePath = "../../resources/data/csv/"
val contractsDf = readCsv(BasePath + "contracts.csv")

contractsDf.show()

+-------+-----------+------------+----------+------+
|cod_iuc|cod_titular|cod_producto|  fec_alta|activo|
+-------+-----------+------------+----------+------+
|  30000|      00006|         100|2012-05-01|  true|
|  30001|      00006|         200|2014-05-01|  true|
|  30002|      00006|         300|2006-02-01| false|
|  30003|      00006|         150|2012-05-01|  true|
|  30002|      00005|         300|2012-05-01|  true|
|  30004|      00006|         400|2012-05-01| false|
|  30005|      00006|         500|2012-05-01|  true|
|  30006|      00006|         600|2012-05-01| false|
|  30003|      00003|         150|2019-10-14|  true|
|  30007|      00006|         700|2014-02-01| false|
|  30008|      00006|         800|2012-05-01|  true|
|  30009|      00006|         900|2015-09-01|  true|
|  30009|      00002|         900|2009-10-01|  true|
|  30010|      00006|        1000|2014-02-01|  true|
|  30003|      00002|         150|2018-09-18|  true|
|  30011|      00003|        1100|2018-10-01|  true|
|  30007|      00006|         700|2012-05-01|  true|
|  30007|      00002|         700|2015-05-15|  true|
|  30002|      00007|         300|2001-04-11| false|
|  30001|      00004|         200|2017-12-01|  true|
+-------+-----------+------------+----------+------+
only showing top 20 rows

contractsDf = [cod_iuc: string, cod_titular: string ... 3 more fields]

readCsv: (path: String)org.apache.spark.sql.DataFrame
BasePath: String = ../../resources/data/csv/

[cod_iuc: string, cod_titular: string ... 3 more fields]

## Actions

In [4]:
// count
println(contractsDf.count())

32

In [5]:
// collect
println(contractsDf.collect().toSeq)

WrappedArray([30000,00006,100,2012-05-01,true], [30001,00006,200,2014-05-01,true], [30002,00006,300,2006-02-01,false], [30003,00006,150,2012-05-01,true], [30002,00005,300,2012-05-01,true], [30004,00006,400,2012-05-01,false], [30005,00006,500,2012-05-01,true], [30006,00006,600,2012-05-01,false], [30003,00003,150,2019-10-14,true], [30007,00006,700,2014-02-01,false], [30008,00006,800,2012-05-01,true], [30009,00006,900,2015-09-01,true], [30009,00002,900,2009-10-01,true], [30010,00006,1000,2014-02-01,true], [30003,00002,150,2018-09-18,true], [30011,00003,1100,2018-10-01,true], [30007,00006,700,2012-05-01,true], [30007,00002,700,2015-05-15,true], [30002,00007,300,2001-04-11,false], [30001,00004,200,2017-12-01,true], [30001,00005,200,2019-11-10,true], [30005,00001,500,2007-03-22,true], [30007,00001,700,2016-07-01,true], [30007,00002,600,2020-04-01,true], [30003,00001,150,2016-05-01,true], [30003,00004,150,2020-03-01,true], [30006,00005,600,2016-12-10,true], [30000,00005,100,2015-05-25,true], [30008,00007,800,2004-09-01,true], [30008,00002,800,2014-03-21,true], [30004,00002,400,2008-02-01,false], [30010,00007,1000,2014-08-01,false])

In [6]:
// show
contractsDf.show(5, false)

sealed class $read extends _root_.java.io.Serializable {
  def <init>() = {
    super.<init>;
    ()
  };
  sealed class $iw extends _root_.java.io.Serializable {
    def <init>() = {
      super.<init>;
      ()
    };
    sealed class $iw extends _root_.java.io.Serializable {
      def <init>() = {
        super.<init>;
        ()
      };
      import org.apache.spark.SparkContext._;
      sealed class $iw extends _root_.java.io.Serializable {
        def <init>() = {
          super.<init>;
          ()
        };
        import org.apache.toree.kernel.api.Kernel;
        val $line6$read: $line6.$read.INSTANCE.type = $line6.$read.INSTANCE;
        import $line6$read.$iw.$iw.$iw.$iw.kernel;
        import org.apache.spark.sql.SparkSession;
        import org.apache.spark.sql.SQLContext;
        import org.apache.spark.sql.SQLImplicits;
        val $line9$read: $line9.$read.INSTANCE.type = $line9.$read.INSTANCE;
        import $line9$read.$iw.$iw.$iw.$iw.implicits;
        sealed class $iw extends _root_.java.io.Serializable {
          def <init>() = {
            super.<init>;
            ()
          };
          import implicits._;
          sealed class $iw extends _root_.java.io.Serializable {
            def <init>() = {
              super.<init>;
              ()
            };
            import org.apache.spark.sql.{SparkSession, DataFrame};
            val $line15$read: $line15.$read.INSTANCE.type = $line15.$read.INSTANCE;
            import $line15$read.$iw.$iw.$iw.$iw.$iw.$iw.contractsDf;
            sealed class $iw extends _root_.java.io.Serializable {
              def <init>() = {
                super.<init>;
                ()
              };
              val res4 = contractsDf.show(5, false)
            };
            val $iw = new $iw.<init>
          };
          val $iw = new $iw.<init>
        };
        val $iw = new $iw.<init>
      };
      val $iw = new $iw.<init>
    };
    val $iw = new $iw.<init>
  };
  val $iw = new $iw.<init>
}
object $read extends scala.AnyRef {
  def <init>() = {
    super.<init>;
    ()
  };
  val INSTANCE = new $read.<init>
}
+-------+-----------+------------+----------+------+
|cod_iuc|cod_titular|cod_producto|fec_alta  |activo|
+-------+-----------+------------+----------+------+
|30000  |00006      |100         |2012-05-01|true  |
|30001  |00006      |200         |2014-05-01|true  |
|30002  |00006      |300         |2006-02-01|false |
|30003  |00006      |150         |2012-05-01|true  |
|30002  |00005      |300         |2012-05-01|true  |
+-------+-----------+------------+----------+------+
only showing top 5 rows

In [7]:
// isEmpty
contractsDf.isEmpty

false

In [8]:
// first() -> primer elemento del df -> head()
// head(n) -> primer N-elementos del df -> take(n)
// take -> primer N-elementos del df -> limit().collect()

contractsDf.head(3)

Array([30000,00006,100,2012-05-01,true], [30001,00006,200,2014-05-01,true], [30002,00006,300,2006-02-01,false])

In [9]:
// tail
contractsDf.tail(3)

Array([30008,00002,800,2014-03-21,true], [30004,00002,400,2008-02-01,false], [30010,00007,1000,2014-08-01,false])

## Transformations

In [10]:
import org.apache.spark.sql.{functions => f}
import org.apache.spark.sql.{types => t}

import org.apache.spark.sql.{functions=>f}
import org.apache.spark.sql.{types=>t}

#### withColumn, withColumnRenamed, drop

In [11]:
val resultedDf = contractsDf
    .withColumnRenamed("fec_alta", "fec_alta_ini")
    .withColumn("actual_date", f.current_date())
    .withColumn("randm_num", f.round(f.rand(0) * f.lit(10)).cast(t.IntegerType))
    .withColumn("fec_alta_fin", f.date_add(f.col("fec_alta_ini"), f.col("randm_num")))
    .withColumn("diff", f.datediff(f.col("fec_alta_fin"), f.col("fec_alta_ini")))
    .drop("randm_num")

resultedDf.show()
resultedDf.printSchema()

resultedDf = [cod_iuc: string, cod_titular: string ... 6 more fields]

+-------+-----------+------------+------------+------+-----------+------------+----+
|cod_iuc|cod_titular|cod_producto|fec_alta_ini|activo|actual_date|fec_alta_fin|diff|
+-------+-----------+------------+------------+------+-----------+------------+----+
|  30000|      00006|         100|  2012-05-01|  true| 2024-02-21|  2012-05-09|   8|
|  30001|      00006|         200|  2014-05-01|  true| 2024-02-21|  2014-05-06|   5|
|  30002|      00006|         300|  2006-02-01| false| 2024-02-21|  2006-02-02|   1|
|  30003|      00006|         150|  2012-05-01|  true| 2024-02-21|  2012-05-04|   3|
|  30002|      00005|         300|  2012-05-01|  true| 2024-02-21|  2012-05-08|   7|
|  30004|      00006|         400|  2012-05-01| false| 2024-02-21|  2012-05-04|   3|
|  30005|      00006|         500|  2012-05-01|  true| 2024-02-21|  2012-05-03|   2|
|  30006|      00006|         600|  2012-05-01| false| 2024-02-21|  2012-05-07|   6|
|  30003|      00003|         150|  2019-10-14|  true| 2024-02-21|  2019-10-21|   7|
|  30007|      00006|         700|  2014-02-01| false| 2024-02-21|  2014-02-01|   0|
|  30008|      00006|         800|  2012-05-01|  true| 2024-02-21|  2012-05-03|   2|
|  30009|      00006|         900|  2015-09-01|  true| 2024-02-21|  2015-09-07|   6|
|  30009|      00002|         900|  2009-10-01|  true| 2024-02-21|  2009-10-05|   4|
|  30010|      00006|        1000|  2014-02-01|  true| 2024-02-21|  2014-02-06|   5|
|  30003|      00002|         150|  2018-09-18|  true| 2024-02-21|  2018-09-22|   4|
|  30011|      00003|        1100|  2018-10-01|  true| 2024-02-21|  2018-10-04|   3|
|  30007|      00006|         700|  2012-05-01|  true| 2024-02-21|  2012-05-02|   1|
|  30007|      00002|         700|  2015-05-15|  true| 2024-02-21|  2015-05-20|   5|
|  30002|      00007|         300|  2001-04-11| false| 2024-02-21|  2001-04-17|   6|
|  30001|      00004|         200|  2017-12-01|  true| 2024-02-21|  2017-12-03|   2|
+-------+-----------+------------+------------+------+-----------+------------+----+
only showing top 20 rows

root
 |-- cod_iuc: string (nullable = true)
 |-- cod_titular: string (nullable = true)
 |-- cod_producto: string (nullable = true)
 |-- fec_alta_ini: string (nullable = true)
 |-- activo: string (nullable = true)
 |-- actual_date: date (nullable = false)
 |-- fec_alta_fin: date (nullable = true)
 |-- diff: integer (nullable = true)

[cod_iuc: string, cod_titular: string ... 6 more fields]

In [12]:
val dictCols = Map(
    "actual_date" -> f.current_date(),
    "randm_num" -> f.round(f.rand(0) * f.lit(10)).cast(t.IntegerType),
    "fec_alta_fin" -> f.date_add(f.col("fec_alta_ini"), f.col("randm_num")),
    "diff" -> f.datediff(f.col("fec_alta_fin"), f.col("fec_alta_ini"))
    )

val resultedAgainDf = contractsDf
    .withColumnRenamed("fec_alta", "fec_alta_ini")
    .withColumns(dictCols)
    .drop("randm_num")

resultedAgainDf.show()
resultedAgainDf.printSchema()

resultedAgainDf = [cod_iuc: string, cod_titular: string ... 6 more fields]

dictCols: scala.collection.immutable.Map[String,org.apache.spark.sql.Column] = Map(actual_date -> current_date(), randm_num -> CAST(round((rand(0) * 10), 0) AS INT), fec_alta_fin -> date_add(fec_alta_ini, randm_num), diff -> datediff(fec_alta_fin, fec_alta_ini))

+-------+-----------+------------+------------+------+-----------+------------+----+
|cod_iuc|cod_titular|cod_producto|fec_alta_ini|activo|actual_date|fec_alta_fin|diff|
+-------+-----------+------------+------------+------+-----------+------------+----+
|  30000|      00006|         100|  2012-05-01|  true| 2024-02-21|  2012-05-09|   8|
|  30001|      00006|         200|  2014-05-01|  true| 2024-02-21|  2014-05-06|   5|
|  30002|      00006|         300|  2006-02-01| false| 2024-02-21|  2006-02-02|   1|
|  30003|      00006|         150|  2012-05-01|  true| 2024-02-21|  2012-05-04|   3|
|  30002|      00005|         300|  2012-05-01|  true| 2024-02-21|  2012-05-08|   7|
|  30004|      00006|         400|  2012-05-01| false| 2024-02-21|  2012-05-04|   3|
|  30005|      00006|         500|  2012-05-01|  true| 2024-02-21|  2012-05-03|   2|
|  30006|      00006|         600|  2012-05-01| false| 2024-02-21|  2012-05-07|   6|
|  30003|      00003|         150|  2019-10-14|  true| 2024-02-21|  2019-10-21|   7|
|  30007|      00006|         700|  2014-02-01| false| 2024-02-21|  2014-02-01|   0|
|  30008|      00006|         800|  2012-05-01|  true| 2024-02-21|  2012-05-03|   2|
|  30009|      00006|         900|  2015-09-01|  true| 2024-02-21|  2015-09-07|   6|
|  30009|      00002|         900|  2009-10-01|  true| 2024-02-21|  2009-10-05|   4|
|  30010|      00006|        1000|  2014-02-01|  true| 2024-02-21|  2014-02-06|   5|
|  30003|      00002|         150|  2018-09-18|  true| 2024-02-21|  2018-09-22|   4|
|  30011|      00003|        1100|  2018-10-01|  true| 2024-02-21|  2018-10-04|   3|
|  30007|      00006|         700|  2012-05-01|  true| 2024-02-21|  2012-05-02|   1|
|  30007|      00002|         700|  2015-05-15|  true| 2024-02-21|  2015-05-20|   5|
|  30002|      00007|         300|  2001-04-11| false| 2024-02-21|  2001-04-17|   6|
|  30001|      00004|         200|  2017-12-01|  true| 2024-02-21|  2017-12-03|   2|
+-------+-----------+------------+------------+------+-----------+------------+----+
only showing top 20 rows

root
 |-- cod_iuc: string (nullable = true)
 |-- cod_titular: string (nullable = true)
 |-- cod_producto: string (nullable = true)
 |-- fec_alta_ini: string (nullable = true)
 |-- activo: string (nullable = true)
 |-- actual_date: date (nullable = false)
 |-- fec_alta_fin: date (nullable = true)
 |-- diff: integer (nullable = true)

[cod_iuc: string, cod_titular: string ... 6 more fields]